
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: poppins;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #ffffff;
}
/*==Product-Details-Page===============*/
.product-page-container{
    max-width: 1100px;
    width:90%;
    margin:30px auto;
    background-color: #fff;
    padding: 20px;

}
.link-route{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    color:#999999;
    margin-bottom: 10px;
    font-size:0.9rem;
}
.link-route a{
    font-size: 0.9rem;
    color:#992153;
    margin: 0px 8px;
}
.link-route a:nth-child(1){
    margin-left: 0px;
}
#product-page{
    background-color: #ffffff;
    padding:30px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}
.product-page-img{
    border: 1px solid #f1f1f1;
    margin-right: 30px;
    padding: 0px;

}
.product-page-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-page-img img{
    width:100%;
    height:100%;
    object-fit: contain;
    object-position: center;
    max-height: 350px;
}
.product-page-img iframe{
    width:100%;
    height:350px;
    border:none;
}
.product-page-details strong{
    color:#333333;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.product-page-details .product-category{
    font-size: 0.9rem;
    color:#535353;
    font-weight: 400;
}
.product-page-details .price{
    color:#333333;
    font-size: 1.2rem;
    font-weight:700;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;


}
.product-page-details .price del{
    color:#992153;
    font-weight: 400;
    font-size: 0.9rem;
    margin-left: 8px ;
}
.product-page-details .small-desc{
    color:#4b4b4b;
    font-size: 0.9rem;
    background-color: #fcfcfc;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #f7f7f7;
}
.product-options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.product-color-box label{
    width:25px;
    height:25px;
    display:flex;
    border-radius:3px;
    overflow: hidden;
    cursor: pointer;

}
.product-color-box label img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;

}
.product-color-box input[type="checkbox"]:checked ~ label{
    border:2px solid #992153;
    padding: 3px;
}
.product-options span{
    font-size: 1rem;
    color:#1f1f1f;
    font-weight: 600;
    margin-right: 7px;
}
.product-color-options{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.product-color-box{
    margin-right: 5px;
    margin-top: 5px;
}
.product-color-box input[type="checkbox"]{
    display: none;
}
.product-page-details .product-page-offer{
    color:#ffffff;
    font-size:0.8rem;
    padding:4px 10px;
    border-radius: 10px;
    background-color: #ec1111;
    margin-top: 10px;
}
.product-page-details .product-page-offer{
    margin-right: 5px;
}
.cart-btns{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
  
}
.cart-btns .add-cart{
    background-color: #333333;
    color: #ffffff;
    width: 150px;
    height:40px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 10px; 
}
.cart-btns .buy-now{
    background-color: #cf1e68;
    margin-right: 0px;
}
.product-page-details .price-shipping{
    margin-top: auto;
}
.product-page-details .price-shipping span{
    font-size: 0.8rem;
    text-transform: uppercase;
    color:#ff2616;
    font-weight: 500;
}
.product-all-info .product-info-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 5px;
}
.product-all-info .product-info-menu li{
    width:100%;
    text-align: center;
    font-weight: 600px;
    display: flex;
    padding: 10px 20px;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    color: #252525;
    letter-spacing: 1px ;
    user-select: none;
    cursor: pointer;

}
.product-all-info .product-info-menu li.active{
    color:#ffffff;
    background-color: #252525;
}
.product-all-info{
    margin-top: 20px;
}
.info-container{
    padding: 20px;
    border: 1px solid #eeeeee;
    margin-top: 5px;
    background-color: #ffffff;
    display:none;
}
.info-container.highlights{
    display: block;
}
.info-container p{
    color:#333333;
    font-size: 0.9rem;
}
@media(max-width:1000px){
    #product-page{
        grid-template-columns: 1fr;
    }
    .product-page-img{
        margin-right: 0px;
    }
    .product-page-details{
        margin-top: 20px;
    }
}
@media(max-width:724px){
    .product-all-info .product-info-menu li{
        font-size:0.8rem;
    }
    .product-all-info .product-info-menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-page-details .price{
        font-size: 1rem;
    }
}
@media(max-width:400px){
    .product-all-info .product-info-menu{
        grid-template-columns: 1fr;
    }
    .cart-btns{
        flex-direction: column;
        width:100%
    }
    .cart-btns .add-cart{
        margin-right: 0px;
        width:100%;
        max-width: 100%;
        margin-top: 10px;
    }
    .product-page-img iframe{
        height: 350px;
    }
}